body{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
    transition: all 1.5s ease;
}




#toggle{
    display: none;
}
#label_toggle{
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 2em;
    color: rgb(99, 94, 103);
    cursor: pointer;
}
.dark{
    background-color: #333;
    color: white;
    transition: all 1.5s ease;
}

header {
    display: flex;
    justify-content: space-around;

}
/* NAVEGADOR */
nav ul{
    display: flex;
    flex-direction: row;

    
}
nav li{
    display: grid;
    margin: 20px;
    background-color: white;
    padding: 20px;
    border: 2px solid whitesmoke;
    border-radius: 5px;

}
h1{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin-top: 50px;
}
h2{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
}

nav a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

/* cuerpo */

.cuerpo{
    display: flex;
    width: auto;
    height: 500px;

}




.comments-section {
    margin-top: 20px;
}
  
.comments-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.comments-list li {
    background-color: #eee;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}
  
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.add-comment {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.add-comment:hover {
    background-color: #0056b3;
}

/* FORMULARIO */

.formulario{
    display: flex;
    justify-content: center;
}
.contact-form {

    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

  }
  
  .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form__item {
    margin-bottom: 15px;
  }
  
  .contact-form__item label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form__item input,
  .contact-form__item textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3
  }
footer{
    display: flex;
    flex-direction: column;

}